[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-cors = "*"
requests = "*"
flask = "*"
pymongo = "*"
python-dotenv = "*"
flask-pymongo = "*"
dnspython = "*"

[requires]
python_version = "3.7"
